  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; <b><a href="https://rubemfsv.github.io/studio-leaf/">Studio Leaf</a></b> {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                        <a href="https://www.google.com/maps/place/{{ site.address | url_encode }}">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ site.address }}
                        </a>
                        <br>
                        <a href="mailto:{{ site.email }}">
                            <i class="fas fa-envelope"></i> 
                            {{ site.email }}
                        </a>
                        <br>
                        <a href="tel:{{ site.phone | replace: ' ', '-' }}">
                            <i class="fas fa-phone"></i>
                            {{ site.phone }}
                        </a>
                </div>
            </div>
        </div>
    </footer>
