<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Veja o que nós oferecemos a vocês!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-umbrella-beach fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Turismo</h4>
                    <p class="text-muted">De centros históricos ao litoral nordestino, levamos vocês ao destino desejado para aproveitar da melhor maneira.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-bag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Comercial</h4>
                    <p class="text-muted">Viagens semanais aos pólos comerciais de Caruaru - PE, Toritama - PE e Santa Cruz do Capibaribe - PE. Entre em contato para agendar sua passagem.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-church fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Romarias</h4>
                    <p class="text-muted">Romarias para Juazeiro do Norte - CE, Frei Damião - PE, Canafístula - AL, Penedo - AL e outras. Entre em contato para saber mais.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-box fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Encomendas</h4>
                    <p class="text-muted">Transportamos sua encomenda com responsabilidade e segurança.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fretamento</h4>
                    <p class="text-muted">Junte sua turma, reserve o ônibus e faça seu destino!</p>
                </div>
        </div>
    </section>